// app global css in SCSS form
html {
  font-size: 16px;
}

.link-text {
  display: inline-block;
  color: inherit;
  transition: 150ms ease;
}

.link-text:hover {
  color: $lm_dim;
  transform: scale(1.05);
}